In [ ]:
print(28)
print("manhae12")

In [ ]:
A, B, C = map(int,input().split())
M = [A, B, C]
M.sort(reverse=True)

print(M[1])

In [ ]:
A, B, C = map(int,input().split())
D = int(input())

B_a = D//60
B_b = D%60

A_a = (B+B_a)//60
A_b = (B+B_a)%60



if C+D > 59:
    if B+B_a <= 59:
        print(A, B+B_a, B_b)
    elif B+B_a > 59:
        if A+A_a <= 23:
            print(A+A_a, A_b, 0+((C+B_b)-60))
        else:
            print(0+((A+A_a)-24), A_b, 0+((C+B_b)-60))
#         print(A, 0+((B+B_a)-60), B_b)

elif C+D <= 59:
    print(A, B, C+D)

In [ ]:
A = 10**3

B = 10**2

In [ ]:
10**2

In [ ]:
10**3

In [ ]:
A, B, C = map(int,input().split())
D = int(input())
if D + C >=0:
    print((((D + C)//60)+A)%24, (((D + C)//60)+B)%60, (D + C)%60)

In [ ]:
while True:
    try:
        A , B = map(int, input().split())
        print(A+B)
    except:
        break

In [ ]:
import sys

t = int(input())
    
for i in range(t):
        a, b = map(int,sys.stdin.readline().split())
        print(a+b)

In [ ]:


for i in range(int(input())):
    n = map(int, input().split())
    print(max(n))

In [ ]:
#### for i in range(0, 9):
    print(max(i))

In [ ]:
t = int(input())
y_list=[]
k_list=[]    
t = t*9
for i in range(0, t):
    y, k = map(int, input().split())
    y_list.append(y)
    k_list.append(k)
    Y = sum(y_list)
    K = sum(k_list)
    
if Y>K:
    print('Yonsei')
elif K>Y:
    print('Korea')
elif K == Y:
    print('Draw')

#

In [ ]:

a, b = map(int, input().split())
c, d = map(int, input().split()) 
e, f = map(int, input().split())

if a == c != e and b == d != f:
    print(e, f)
elif a == c != e and b != d == f:
    print(e, b)
elif a == c != e and b == f != d:
    print(e, d)
elif a != c == e and b == d != f:
    print(a, f)
elif a != c == e and b != d == f:
    print(a, b)
elif a != c == e and b == f != d:
    print(a, d)
elif a == e != c and b == d != f:
    print(c, f)
elif a == e != c and b != d == f:
    print(c, b)
elif a == e != c and b == f != d:
    print(c, d)

In [ ]:
N=int(input())
i = 1
while not N//1==1:#1로만 나누어질때까지 반복
    i += 1 #나누어 떨어질때까지 i에 1 추가
    if N%i == 0: #나누어 떨어지는경우
        N=N/i #나누기 한 N 저장
        print(i) #나눈 수 출력
        i = int(1)# i 초기화

In [21]:
total=0
for i in range(5):
    a = int(input())
    if a >= 40:
        total += a
    else:
        total += 40
print(total//5)

10
65
100
30
95
68

In [6]:
my_dict = {} 
while True :
    key = int(input('키 입력 : '))
    val = input('밸류 입력 : ')
    my_dict[key] = val
    con = int(input('1번은 딕셔너리 요소 추가 계속, 2번은 종료 : '))
    if con == 2 :
        print("===== 딕셔너리 요소 추가 끝 =====", end="\n\n")
        break
    
print("당신이 만든 딕셔너리 리스트 :", my_dict)

키 입력 : 1
밸류 입력 : d
1번은 딕셔너리 요소 추가 계속, 2번은 종료 : 1
키 입력 : 2
밸류 입력 : f
1번은 딕셔너리 요소 추가 계속, 2번은 종료 : 1
키 입력 : 3
밸류 입력 : g
1번은 딕셔너리 요소 추가 계속, 2번은 종료 : 2
===== 딕셔너리 요소 추가 끝 =====

당신이 만든 딕셔너리 리스트 : {1: 'd', 2: 'f', 3: 'g'}

## bottle return

In [2]:
a, b, c, d, e, f = map(int, input().split())

print((a+b+c+d+e+f)*5)

0 0 0 23 3 100
630

In [4]:
a, b = map(int, input().split())

if a> b:
    print(a)
elif a<b:
    print(b)
elif a==b:
    print(a)

2 2
2

In [5]:
print('''NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1''')

NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1

In [6]:
print('''SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21        
J-Type 327     Light Combat   Unlimited  1         
NX Cruiser     Medium Fighter Limited    18        
N1 Starfighter Medium Fighter Unlimited  25        
Royal Cruiser  Light Combat   Limited    4         ''')

SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21
J-Type 327     Light Combat   Unlimited  1
NX Cruiser     Medium Fighter Limited    18
N1 Starfighter Medium Fighter Unlimited  25
Royal Cruiser  Light Combat   Limited    4

In [37]:
a = map(int, input().split())
A = list(a)
A.sort()


print(A[0], A[1], A[2])

3 1 2
1 2 3

In [38]:
y = int(input())
m = int(input())

print(m-y+m)

12
15
18

In [46]:
a = int(input())
b = int(input())

if a >= 3 and b <= 4:
    print('TroyMartian')
if a <=6 and b>=2:
    print('VladSaturnian')
if a<=2 and b<=3:
    print('GraemeMercurian')

8
6

In [55]:
for i in range(int(input())):
    x,y = map(int, input().split())
    if x < y:
        print('NO BRAINS')
    elif x>=y:
        print('MMM BRAINS')

3
4 5
NO BRAINS
3 3
MMM BRAINS
4 3
MMM BRAINS

In [70]:
while True:
    n = int(input())
    n1 = n*3
    if n1%2 == 0 and n !=0:
        a = n1//2*3//9
        if a%2 ==0:
            print('1. odd', a)
        elif a%2 !=0:
            print('2. even', a)
    elif n1%2 !=0 and n !=0:
        a = (n1+1)//2*3//9
        if a%2 ==0:
            print('1. odd', a)
        elif a%2 !=0:
            print('2. even', a)
            continue
    elif n == 0:
        break

1
1. odd 0
2
2. even 1
3
2. even 1
4
1. odd 2
5
1. odd 2
6
2. even 3
7
2. even 3
8
1. odd 4
9
1. odd 4
10
2. even 5
11
2. even 5
12
1. odd 6
13
1. odd 6
14
2. even 7
15
2. even 7
16
1. odd 8
38
2. even 19
37
1. odd 18
0

In [54]:
a = int(input())
b = int(input())
c = int(input())

print('The 1-3-sum is',91+(a*1+b*3+c*1))

9
4
8
The 1-3-sum is 120

In [73]:
k = int(input())

a = map(int, input().split())
A = list(a)

c = A.count(k)
print(c)

3
4 1 1 2 1
0

In [87]:
a = int(input())
a = str(a)
A = list(a)

q =A[0]
w =A[1]
e =A[2]
r =A[3]
t =A[4]
q = int(q)
w = int(w)
e = int(e)
r = int(r)
t = int(t)


print(q**5+w**5+e**5+r**5+t**5)

93084
93084

In [88]:
a = input()

print(a.upper())

alert
ALERT

In [94]:
s, k, h = map(int, input().split())

if s + k + h >= 100:
    print('OK')
elif s + k + h < 100:
    a = min(s, k, h)
    if a == s:
        print('Soongsil')
    elif a == k:
        print('Korea')
    elif a == h:
        print('Hanyang')

31 41 59
OK

In [98]:
a = int(input())
a = a*3
a1 = int(input())
a1 =a1*2
a2 = int(input())
a2 = a2*1
b = int(input())
b = b*3
b1 = int(input())
b1 = b1*2
b2 = int(input())
b2 = b2*1

if a+a1+a2 > b+b1+b2:
    print('A')
elif a+a1+a2 < b+b1+b2:
    print('B')
elif a+a1+a2 == b+b1+b2:
    print('T')

10
3
7
8
9
6
B

In [105]:

for _  in range(int(input())):
    a, b = input().split()
    b = int(b)
    if b >= 97 and b <=100:
        print(a, 'A+')
    elif b >= 90 and b <= 96:
        print(a, 'A')
    elif b >= 87 and b <= 89:
        print(a, 'B+')
    elif b >= 80 and b <= 86:
        print(a, 'B')
    elif b >= 77 and b <= 79:
        print(a, 'C+')
    elif b >= 70 and b <= 76:
        print(a, 'C')
    elif b >= 67 and b <= 69:
        print(a, 'D+')
    elif b >= 60 and b <= 66:
        print(a, 'D')
    elif b >= 0 and b <= 59:
        print(a, 'F')

5
Bilbo 13
Bilbo F
Sam 90
Sam A
Pippin 78
Pippin C+
Frodo 97
Frodo A+
Merry 70
Merry C

In [109]:
k =[]
a = input()
b = input()
c = input()
d = input()
e = input()
f = input()

k.append(a)
k.append(b)
k.append(c)
k.append(d)
k.append(e)
k.append(f)

K = k.count('W')

if K >= 5:
    print(1)
elif K == 3 or K == 4:
    print(2)
elif K == 1 or K == 2:
    print(3)
elif K == 0:
    print(-1)

L
L
L
L
L
L
-1

In [113]:
a = int(input())
a = str(a)
A = list(a)

if A[0] == '5' and A[1] == '5' and A[2] == '5':
    print('YES')
else:
    print('NO')

5550000
YES

In [119]:
a = int(input())

print('SciComLove\n'*a)

2
SciComLove
SciComLove

In [122]:
a, b, c = map(int, input().split())
a1, b1, c1 = map(int, input().split())

if c*2-a-b == c1*2-a1-b1:
    print('YES')
else:
    print('NO')

0 0 1
10 10 1
NO

In [124]:
a, b = map(int, input().split())
a = a//2
b = b//2
if a == b:
    print(a)
elif a < b:
    print(a)
elif a>b:
    print(b)

4 5
2

In [148]:
a, b = map(int, input().split())
B = b/100
A = a-a*B

if A >= 100:
    print(0)
elif a < 100 and b == 0:
    print(1)
else:
    print(1)

200 20
0

In [149]:
for _ in range(int(input())):
    for _ in range(int(input())):
        a, b = map(int, input().split())
        print(a+b, a*b)

1
2
20 30
50 600
40 60
100 2400

In [151]:
n = int(input())
if n == 0:
    print('YONSEI')
elif n == 1:
    print('Leading the Way to the Future')

1
Leading the Way to the Future

In [155]:
n,m=map(int,input().split())
print(n*m//2)

3 3
4

In [156]:
for _ in range(int(input())):
    a=int(input())
    print('='*a)

5
1
=
3
===
4
====
6
======
2
==

In [159]:
a, b = map(int,input().split())
if a==b:
    print(1)
else:
    print(0)

1 0
0

In [160]:
n=int(input())
print(n*n-n)

5
20

In [195]:
from copy import copy
A = []

for _ in range(0,8):
    a = int(input())
    a = str(a)
    A.append(a)
B = copy(A)    
C = copy(A)
A.sort()
q = A[-1]
q = int(q)
w = A[-2]
w = int(w)
e = A[-3]
e = int(e)
r = A[-4]
r = int(r)
t = A[-5]
t = int(t)
y = A[-6]
y = int(y)
u = A[-7]
u = int(u)
i = A[-8]
i = int(i)
print(q+w+e+r+t)
q = str(q)
w = str(w)
e = str(e)
r = str(r)
t = str(t)
y = str(y)
u = str(u)
i = str(i)

# B.sort()
# q = int(q)
# w = int(w)
# e = int(e)
# r = int(r)
# t = int(t)
# y = int(y)
# u = int(u)
# i = int(i)
# print(q+w+e+r+t)

q = C[-1]
q = int(q)
w = C[-2]
w = int(w)
e = C[-3]
e = int(e)
r = C[-4]
r = int(r)
t = C[-5]
t = int(t)
y = C[-6]
y = int(y)
u = C[-7]
u = int(u)
i = C[-8]
i = int(i)
q = str(q)
w = str(w)
e = str(e)
r = str(r)
t = str(t)
y = str(y)
u = str(u)
i = str(i)



D = []
D.append(C.index(q))
D.append(C.index(w))
D.append(C.index(e))
D.append(C.index(r))
D.append(C.index(t))
q = int(q)
w = int(w)
e = int(e)
r = int(r)
t = int(t)
print(D)
# D.append(C.index(y)+1)
# D.append(C.index(u)+1)
# D.append(C.index(i)+1)
D.sort()
q = D[0]
q = int(q)
w = D[1]
w = int(w)
e = D[2]
e = int(e)
r = D[3]
r = int(r)
t = D[4]
t = int(t)
print(q,w,e,r,t)
# print(B.index(q)+1,B.index(w)+1,B.index(e)+1,B.index(r)+1,B.index(t)+1)

20
30
50
48
33
66
0
64
261
[7, 6, 5, 4, 3]
3 4 5 6 7